- provide(:title, 'Home')

- if logged_in?
  .row
    %aside.col-md-4
      %section.user_info
        = render 'shared/user_info'
      %section.snapshot_form
        = render 'shared/snapshot_form'
    %div.col-md-8
      %h3 Snapshot Feed 
      = render 'shared/feed'
- else
  -# %div{:class => "center jumbotron "}
  .center.jumbotron
    %h1 Welcome to Orbit
    %h2
      This is the homepage of the Orbit applcation. You can find the codebase for this application at
      %a{href: "https://github.com/Kobato13"} my GitHub account.
    = link_to "Create an account", signup_path, class: "btn btn-lg btn-primary"